{% extends "blog/base.html" %}

{% block content %}
    <div class="post">
        {% if post.published_on %}
            <div class="date">
                {{ post.published_on }}
            </div>
        {% endif %}
        <h1>{{ post.title }}</h1>
        <p>{{ post.text|linebreaks }}</p>
    </div>
{% endblock %}